<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/logo_main.png">
<title>
    <%= title %>%>
</title>
<!-- Bootstrap Core CSS -->
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- morris CSS -->
<link href="/plugins/morrisjs/morris.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/css/style.css" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link href="/stylesheets/css/colors/blue.css" id="theme" rel="stylesheet">

<link href="/plugins/MaterialDesign/css/materialdesignicons.css" rel="stylesheet">

<script src="/plugins/jquery/jquery.min.js"></script>

<link rel="stylesheet" href="/plugins/dropify/dist/css/dropify.min.css">

<!-- toast CSS -->
<link href="/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
<link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

</head>