<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="page_load" class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <% include top.ejs %>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <% include left.ejs %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <% if (Page_Content == 'Dashboard'){ %>
            <% include ../Dashboard/home.ejs %>
        <% } %>

        <% if (Page_Content == 'User'){ %>
            <% include ../Dashboard/users.ejs %>
        <% } %>

        <% if (Page_Content == 'PublicCrime'){ %>
            <% include ../Dashboard/crimepublicview.ejs %>
        <% } %>

        <% if (Page_Content == 'PoliceView'){ %>
            <% include ../Dashboard/policeview.ejs %>
        <% } %>

        <% if (Page_Content == 'Crime'){ %>
            <% include ../Dashboard/crimeview.ejs %>
        <% } %>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © <script>
                var dt = new Date();
                document.write(dt.getFullYear());
            </script> Crime Research Web App
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<% include foot.ejs %>

</body>

</html>